<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__picture">
      <img
        src="https://cdn1.epicgames.com/offer/cbd5b3d310a54b12bf3fe8c41994174f/valwide_2560x1440-99f1632f76e12ddc17d4245a74f29fc5"
        alt=""
      />
    </div>

    <div class="small-card__title">
      <h1><a href="#">VCT America is dominating the competition</a></h1>
    </div>
  </div>

  <div class="container__small-card-separator">
    <hr />
  </div>
</div>
