<header>
  <app-navbar></app-navbar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://static.valorantzone.gg/news/2022/09/06145009/VCT23_Masters.jpg"
      cardTitle="VALORANT Champions Tour 2023: Masters Tokyo"
      cardDescription="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem perspiciatis debitis impedit quibusdam maiores earum a."
    ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      photoCover="https://cdn1.epicgames.com/offer/cbd5b3d310a54b12bf3fe8c41994174f/valwide_2560x1440-99f1632f76e12ddc17d4245a74f29fc5"
      cardTitle="VCT America is dominating the competition"
      ></app-small-card>
      <app-small-card
      photoCover="https://pbs.twimg.com/media/FRIwqNJWUAIvEJk?format=jpg&name=4096x4096"
      cardTitle="Loud Aspas Plays in Japan Servers"
      ></app-small-card>
    <app-small-card
      photoCover="https://i.ytimg.com/vi/O4I3LFolk4g/maxresdefault.jpg"
      cardTitle="VALORANT Masters Tokyo: LOUD will face EG in debut"
    ></app-small-card>
  </div>
</div>

<!-- <hr>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div> -->
