<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover="https://images.contentstack.io/v3/assets/bltb730eada072bdbf4/blteb874ac4a5d16b6b/647671ca08523c2f872e6943/VCT23_Masters_Primer_Article_Header.jpg?width=2472&height=1390"
      cardTitle="VALORANT Champions Tour 2023: Masters Tokyo"
      cardDescription="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem perspiciatis debitis impedit quibusdam maiores earum a."
    ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      id="2"
      photoCover="https://cdn1.epicgames.com/offer/cbd5b3d310a54b12bf3fe8c41994174f/valwide_2560x1440-99f1632f76e12ddc17d4245a74f29fc5"
      cardTitle="VCT America is dominating the competition"
      ></app-small-card>
      <app-small-card
      id="3"
      photoCover="https://pbs.twimg.com/media/FRIwqNJWUAIvEJk?format=jpg&name=4096x4096"
      cardTitle="Loud Aspas Plays in Japan Servers"
      ></app-small-card>
    <app-small-card
      id="4"
      photoCover="https://i.ytimg.com/vi/O4I3LFolk4g/maxresdefault.jpg"
      cardTitle="VALORANT Masters Tokyo: LOUD will face EG in debut"
    ></app-small-card>
  </div>
</div>

<!-- <hr>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div> -->
